.gallery-block {
    position: relative;
    top: 60px;
    width: 640px;
    height: 112px;
    padding-bottom: 40px;
}

.gallery-thumbnail {
    width: 200px;
    height: 112px;

    border: 1px solid #6f7384;
    margin: 4px;
}

.gallery-thumbnail:hover {
    border-color: #FF8C00;
    cursor: pointer;
}

#gallery-popup {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 60%;
    height: 60%;

    z-index: 1;
    border: 4px groove #6f7384;

    background-color: #000000;
}

#gallery-img {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    clear: both;
}

#gallery-load-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.gallery-button {
    position: absolute;

    opacity: 0.5;
}

.gallery-arrow {
    position: relative;

    top: 12.5%;
    width: 150px;
    height: 75%;

    opacity: 0;
}

.gallery-button:hover {
    cursor: pointer;
}

.gallery-arrow:hover {
    cursor: pointer;
}

#gallery-next {
    float: right;
}

#gallery-previous {
    float: left;
}

#gallery-close {
    right: 0;
    top: 0;
}

#gallery-maximize {
    right: 0;
    bottom: 0;
}